html, body {
	height: 100vh;
	margin: 0;
	padding: 0;
}
body {
	background-image: url(../img/bg.jpg);
	background-size: cover;
	overflow: hidden;
}
h1 {
	color: rgba(255, 255, 255, 1);
	font-size: 48px;
	text-align: center
}
#userData {
	text-align: center;
	width: 70%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
	color: rgba(255, 255, 255, 1)
}

#userData h3 {
	font-size: 30px;
}

#userSign {
	width: 50%;
	padding: 5px;
	border-radius: 5px;
	background-color: transparent;
	color:rgb(255, 255, 255);
	font-size: 16px;
}


/*show results*/
#displayData {
	display: none;
	width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
	text-align: center;
	background: rgba(0,0,0,0.9);
    padding: 5px;
    color: white;
}
#displayData img {
	margin-top: 7%;
}
#displayData p {
	width: 50%;
	margin: 0 auto;
}
/*button to reset the page*/
#resetPage {
	margin-top: 3%;
	display: none;
}

@media (max-width: 500px) {
	#userData h1 {
		font-size: 36px;
	}
	#userData h3 {
		font-size: 24px;
	}
}